footer{
	
padding-top: 30px;
overflow: hidden;
position
}

footer .title {
    background-color: black;
	color: var(--color);
	font-size: 26.5vw;
	font-family: "Abril Fatface", serif;
	line-height: 0.85;
	text-align: center;

}

footer .big-bar{
	background-color: black;
	height: 9.5vw;
}

footer .medium-bar{
	background-color: black;
	height: 4.25vw;
}

footer .small-bar{
	background-color: black;
	height: 2.125vw;
}

 footer div + div{
	margin-top: 2px;
}

