header{

/*	padding-bottom: 30px;*/

}

header .title {
    background-color: black;
	color: var(--color);
	font-size: 22.6vw;
	font-family: "Abril Fatface", serif;
	line-height: 0.85;
	text-align: center;

}

header .big-bar{
	background-color: black;
	height: 9.5vw;
}

header .medium-bar{
	background-color: black;
	height: 4.25vw;
}

header .small-bar{
	background-color: black;
	height: 2.125vw;
}

 header div + div{
	margin-top: 2px;
}
