body{
	padding: 20px;
	background-image: radial-gradient(yellow, pink)
}

h1{
	text-align: center;
	font-family: sans-serif;
	font-weight: 500;
	text-decoration: underline;
	text-transform: uppercase;
	word-spacing: 5px;
	letter-spacing: 0.05em;
	
}

h2{
	font-size: 20px;
	font-family: sans-serif;
	font-weight: 200;
	text-decoration: underline;
	padding-left: 15px;
	text-transform: uppercase;
}

h3{
	font-size: 16px;
	text-align: center;
	font-family: sans-serif;
	font-weight: 200;
	text-decoration: underline;
	word-spacing: 5px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

a{
	text-decoration: none;
	
}

p{
	text-wrap: pretty;
}

h1+h2{
	margin-top: 50px
}

li+li{
	margin-top: 15px
}

a:hover {
  color: yellow;
  background: pink;
}

.inner-column{
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}