.name-card{


	inner-column div{

		border-right: 2px solid var(--ink);

		border-bottom: 2px solid var(--ink);
		padding: var(--space-m);
		margin-top: var(--space-m);

		h2{
			padding-bottom: var(--space-xs);

			@media (min-width: 650px) {
				
				order: 1;
				text-transform: uppercase;
				text-align: center;
				letter-spacing: 0.4em;
				word-wrap: break-word;


			}

			@media (min-width: 1024px) {
				font-size: 32px;
				white-space: nowrap;
				grid-column:1/-1;
				letter-spacing: 0.57em;




			}
		}

		h3{
			@media (min-width: 650px) {
				writing-mode: vertical-rl;
				max-height: 120px;
				letter-spacing: 0.3em;
				transform: rotate(180deg);
			}
			@media (min-width: 1024px) {
				letter-spacing: 0.25em;
				transform: unset;
				writing-mode: horizontal-tb;
				grid-column: 2/4;
				grid-row: 2;


			}
		}

		h4{
			text-align: right;

			@media (min-width: 650px) {
				order: 3;
				writing-mode: vertical-rl;
				text-align: center;
				letter-spacing: 1em;
			}

			@media (min-width: 1024px) {
				writing-mode: horizontal-tb;
				grid-column:4/5;
				grid-row: 2;



			}
		}

		@media (min-width: 650px) {
			display: grid;
			grid-template-columns: 0.2fr 1.2fr 0.2fr;
			border: none;
			

		}

		@media (min-width: 1024px) {
			grid-template-columns: repeat(5, 1fr);
			

		}
	}
}